<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.plugin"
    version="0.1.0">

    <name>Echo</name>
    <description>Cordova Echo Tutorial Plugin</description>
    <author>Timo van der Schuit</author>
    <license></license>
    <keywords>cordova,tutorial</keywords>
    <repo>https://github.com/Timoteus78/cordova-echo.git</repo>
   
    <js-module src="www/echo.js" name="echo">
        <clobbers target="tutorial.echo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="org.apache.cordova.plugin.Echo"/>
            </feature>   
        </config-file>    
        <source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>

</plugin>
